/* ============================================== Navbar */
.nav-container {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    width: 100%;
    border: 0;
}

/* ============================================== containers */
.hero-image {
    height: 80vh;
    background: url(../images/gecko-1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;   
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/* From Whiskey Drop project */
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}



h1 {
    color: #fafafa;
}
