body {
    background-color: black;
    color: #fafafa;
}

h2 {
    color: #ff5d00;
    font-weight: 400;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    width: 50%;
    height: 2px;
    background-color: #ff5d00;
}

a {
    color: #ff5d00;
    text-decoration: none;
}

/* ============================================== Navbar */
.nav-container {
    position: fixed;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    width: 100%;
    padding: 2px 10px 2px 10px;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-nav a {
    font-weight: bold;

}

.bg-dark {
    background-color: #1c1c1c!important;
}

.nav-link {
    font-size: 20px;
    margin: 0 10px 0 10px;
    text-align: center;
}


/* ============================================== Hero Image */
/* From Whiskey Drop project */
.hero-image {
    height: 85vh;    
    background: url(../images/gecko-1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;   
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    margin-bottom: 30px;
}

/* From Whiskey Drop project */
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

/* =================================================Jumbotron */

.jumbotron {
    background-color: transparent;
    margin-top: 450px;
}

.jumbotron h1 {
    color: #ffffff;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.jumbotron .lead {
    color: #ffffff;
    font-size: 1.5rem;
    margin: 20px 0;
}

/* ============================================== Hero Image */
.footer-image {
    height: 50vh;    
    background: url(../images/footer-image.jpg) center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;   
    background-size: cover;    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 70px;
}

.footer-opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* ============================================== Containers */
.about-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.image-container {
    width: 50%;
}

.about-image {
    width: 100%;
    padding: 0;
}

.about {
    width: 50%;
}

.about h2 {
    padding-bottom: 5px;
}

.about p {
    font-size: 24px;
    font-weight: 600;
}

/* ============================================== Static Image Gallery*/
.static-gallery {
    text-align: center;
}

.static-gallery h2 {
    margin: 30px 0;
}

.static-gallery p {
    margin: 20px 0;
}

.static-gallery img {
    border-radius: 5px;
}

#stat-gal-one {
    width: 15%;
}

#stat-gal-two {
    width: 20%;
}

#stat-gal-three {
    width: 25%;
}

#stat-gal-four {
    width: 20%;
}

#stat-gal-five {
    width: 15%;
}




@media screen and (max-width: 992px) {
    .image-container {
        width: 80%;        
    }

    .about {
        text-align: center;
    }

    .about-container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .about p {
        font-size: 18px;
        font-weight: 400;
    }

    .nav-link {
        font-size: 18px;
        margin: 0 5px 0 5px;
        text-align: center;
    }

    .jumbotron {
        background-color: transparent;
        margin-top: 300px;
    }

    .jumbotron h1 {
        color: #ffffff;
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    .jumbotron .lead {
        color: #ffffff;
        font-size: 1rem;
        margin: 10px 0;
    }

    .navbar-collapse {
        /* height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center; */
    }
}