body {
    background-color: black;
    color: #fafafa;
}

/* ============================================== Navbar */
.nav-container {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    width: 100%;
    border: 0;
}

/* ============================================== containers */
.hero-image {
    height: 85vh;    
    background: url(../images/gecko-1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;   
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

/* From Whiskey Drop project */
/* .opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
} */

.about-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.about {
    /* width: 50%; */
}

.container-right {
    float: right;
    width: 50%;
    margin: 0.3em 0 1.5em 1.5em;
}

.about-image {
    width: 100%;
}

.about p {
    font-size: large;
    font-weight: 600;
}

h1 {
    color: #fafafa;
}

hr {
    border: 0;
    width: 50%;
    height: 2px;
    padding-top: 5px;

    background-color: #f2561d;

}

